* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// vars.css
:root {
    --color-lightgray: lightgray;
    --color-darkgray: darkgray;
    --color-gray: gray;
    --color-db: #dbdbdb;
    --color-ec: #ececec;
}
